## Missing Values

### 1) Drop the rows 
- Use this when the missing rows are few and won't significatly reduce your dataset

In [ ]:
df.dropna(inplace = True)

### 2) Fill in the missing values (Imputation)
- Use this when you can't affor to lose rows

In [ ]:
df.fillna(df.mean(), inplace = True) # for numerical columns 
df.fillna(df.mode()[0], inplace = True) #for categorical columns

### Observations:
- X missing values were found in [column name], Since the missing values represent a small percentage of the dataset, they were dropped/filled with the mean to preserve data intergrity

- Also, if missing values are less than 5% of your data you can safely drop them. if they are more than 5% you should impute(fill them in) rather than lose too much data.

------------------------------------------------------------------------------------

## Duplicates

In [ ]:
df.drop_duplicates(inplace = True)

### Observations:
- X duplicate rows were found and removed, reducing the dataset from 1000 to [new number] rows. This ensures each record represents a unique student and prevent results from being skewed.

------------------------------------------------------------------------------------

### Important:
`inplace = True` means make the change directly to the original dataframe without needing to reassign it